.list-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-width: 280px;
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
    border: 1px solid var(--border);
    border-radius: 20px;
    background-color: var(--secondary-bg);
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.movie-list li {
    display: flex;
    flex: 0 0 250px;
}

@media (max-width: 1326px) {
    .list-container {
        max-width: 930px;
    }
}

@media (max-width: 1013px) {
    .list-container {
        max-width: 650px;
    }
}

@media (max-width: 691px) {
    .list-container {
        max-width: 420px;
    }
}

@media (max-width: 580px) {
    .movie-list {
        grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    }
}
