@import "tailwindcss";

@theme {
    --color-primary-bg: #0f0f14;
    --color-secondary-bg: #1a1a23;
    --color-footer-bg: #0a0a0f;
    --color-accent: #8b5cf6;
    --color-accent-hover: #7c3aed;
    --color-primary-text: #f3f4f6;
    --color-secondary-text: #a1a1aa;
    --color-muted-text: #71717a;
    --color-border: #2a2a35;
    --color-card-bg: #171720;
    --color-shimmer: #242433;
    --color-input-bg: #262631;
    --color-dark-hover: #2d2d39;
}

@layer base {
    html {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
    }

    @media (max-width: 1024px) {
        html {
            font-size: 15px;
        }
    }

    @media (max-width: 640px) {
        html {
            font-size: 14px;
        }
    }
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.animate-shimmer {
    animation: shimmer 1.2s infinite;
}

@layer components {
    .arrow-button {
        font-size: 2rem;
        background-color: hsl(240, 12%, 19%, 75%);
        backdrop-filter: blur(4px);
        border: 1px solid var(--color-border);
        padding: 6px 20px;
        border-radius: 28px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: hsl(240, 12%, 39%, 75%);
        }
    }

    .accent-button {
        background-color: var(--color-accent);
        color: var(--color-primary-bg);
        border-radius: 8px;
        padding: 6px 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        white-space: nowrap;

        &:hover {
            background-color: var(--color-accent-hover);
        }

        &:disabled {
            cursor: not-allowed;
            background-color: hsl(240, 12%, 49%, 75%);
        }
    }

    .header-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        padding: 7px 12px;
        color: var(--color-accent);
        border: 1px solid var(--color-border);
        background-color: var(--color-secondary-bg);
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--color-dark-hover);
        }
    }

    .page-button {
        padding: 6px 14px;
        border: 1px solid var(--color-border);
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--color-dark-hover);
        }

        &:disabled {
            cursor: not-allowed;
            background-color: #21212b;
        }
    }
}
